1 ICON "serial.ico"
1 VERSIONINFO
FILEVERSION   0,51,0,0
PRODUCTVERSION  0,51,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
  BLOCK "040904E4"
  BEGIN
    VALUE "CompanyName", "MatLauLab"
    VALUE "FileDescription", "GIMX launcher"
    VALUE "FileVersion", "0.51"
    VALUE "InternalName", "gimx-serial"
    VALUE "LegalCopyright", "Matlo GNU GPL"
    VALUE "OriginalFilename", "gimx-serial.exe"
    VALUE "ProductName", "gimx-serial"
    VALUE "ProductVersion", "0.51"
  END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
