[submodule "shared/gimx-adapter-protocol"]
	path = shared/gimx-adapter-protocol
	url = https://github.com/matlo/gimx-adapter-protocol.git
[submodule "shared/gimxpoll"]
	path = shared/gimxpoll
	url = https://github.com/matlo/gimxpoll.git
[submodule "shared/gimxprio"]
	path = shared/gimxprio
	url = https://github.com/matlo/gimxprio.git
[submodule "shared/gimxusb"]
	path = shared/gimxusb
	url = https://github.com/matlo/gimxusb.git
