[Desktop Entry]
Type=Application
Version=0.24
Name=Gimx-fpsconfig
GenericName=Gimx-fpsconfig
Icon=gimx-fpsconfig
Exec=/usr/bin/gimx-fpsconfig
Categories=Game;
