1 ICON "config.ico"
1 VERSIONINFO
FILEVERSION   7,9,0,0
PRODUCTVERSION  7,9,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
  BLOCK "040904E4"
  BEGIN
    VALUE "CompanyName", "GIMX Labs"
    VALUE "FileDescription", "Config editor for GIMX"
    VALUE "FileVersion", "7.9"
    VALUE "InternalName", "gimx-config"
    VALUE "LegalCopyright", "Matlo GNU GPL"
    VALUE "OriginalFilename", "gimx-config.exe"
    VALUE "ProductName", "gimx-config"
    VALUE "ProductVersion", "7.9"
  END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
