<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="sixstatusFrame">
		<title>Gimx-status</title>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>2</rows>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="no">
					<label>Sixaxis status</label>
					<object class="sizeritem">
						<object class="wxGridSizer" variable="GridSizer1" member="no">
							<cols>8</cols>
							<rows>6</rows>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Left Stick x</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE1" variable="Gauge1" member="yes">
									<value>127</value>
									<range>255</range>
									<size>-1,-1</size>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
									<label>Left Stick y</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE2" variable="Gauge2" member="yes">
									<value>127</value>
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
									<label>Right Stick x</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE3" variable="Gauge3" member="yes">
									<value>127</value>
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Right Stick y</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE4" variable="Gauge4" member="yes">
									<value>127</value>
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
									<label>Up</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE5" variable="Gauge5" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
									<label>Down</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE6" variable="Gauge6" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
									<label>Right</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE7" variable="Gauge7" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
									<label>Left</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE8" variable="Gauge8" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText9" member="yes">
									<label>R1</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE9" variable="Gauge9" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText10" member="yes">
									<label>R2</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE10" variable="Gauge10" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText11" member="yes">
									<label>L1</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE11" variable="Gauge11" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
									<label>L2</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE12" variable="Gauge12" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT13" variable="StaticText13" member="yes">
									<label>Circle</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE13" variable="Gauge13" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT14" variable="StaticText14" member="yes">
									<label>Square</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE14" variable="Gauge14" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT15" variable="StaticText15" member="yes">
									<label>Cross</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE15" variable="Gauge15" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT16" variable="StaticText16" member="yes">
									<label>Triangle</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE16" variable="Gauge16" member="yes">
									<range>255</range>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT17" variable="StaticText17" member="yes">
									<label>R3</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE17" variable="Gauge17" member="yes">
									<range>255</range>
									<size>30,30</size>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT18" variable="StaticText18" member="yes">
									<label>L3</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE18" variable="Gauge18" member="yes">
									<range>255</range>
									<size>30,30</size>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT31" variable="StaticText31" member="yes">
									<label>Start</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE31" variable="Gauge31" member="yes">
									<range>255</range>
									<size>30,30</size>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT32" variable="StaticText32" member="yes">
									<label>Select</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE32" variable="Gauge32" member="yes">
									<range>255</range>
									<size>30,30</size>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT33" variable="StaticText33" member="yes">
									<label>PS</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxGauge" name="ID_GAUGE33" variable="Gauge33" member="yes">
									<range>255</range>
									<size>30,30</size>
									<style>wxGA_SMOOTH</style>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Mouse calibration (use the mouse wheel to change values)</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<cols>1</cols>
							<rows>2</rows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
									<cols>2</cols>
									<rows>3</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT42" variable="StaticText42" member="yes">
											<label>Status:</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT43" variable="StaticText43" member="yes">
											<label>off</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT39" variable="StaticText39" member="yes">
											<label>Mouse (rctrl+F1):</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT38" variable="StaticText38" member="yes">
											<label>Name id</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT41" variable="StaticText41" member="yes">
											<label>Config (rctrl+F2):</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT40" variable="StaticText40" member="yes">
											<label>0</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
									<cols>4</cols>
									<rows>1</rows>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
											<label>Multiplier</label>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
													<cols>2</cols>
													<rows>2</rows>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT19" variable="StaticText19" member="yes">
															<label>x (rctrl + F3):</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT21" variable="StaticText21" member="yes">
															<label>00.00</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT20" variable="StaticText20" member="yes">
															<label>x/y ratio (rctrl + F4):</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT22" variable="StaticText22" member="yes">
															<label>00.00</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
											<label>Dead zone</label>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
													<cols>2</cols>
													<rows>3</rows>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT23" variable="StaticText23" member="yes">
															<label>x (rctrl + F5):</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT24" variable="StaticText24" member="yes">
															<label>000</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT25" variable="StaticText25" member="yes">
															<label>y (rctrl + F6):</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT26" variable="StaticText26" member="yes">
															<label>000</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT37" variable="StaticText37" member="yes">
															<label>Shape (rctrl + F7):</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT34" variable="StaticText34" member="yes">
															<label>Rectangle</label>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
											<label>Exponent</label>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
													<cols>2</cols>
													<rows>2</rows>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT27" variable="StaticText27" member="yes">
															<label>x (rctrl + F8):</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT28" variable="StaticText28" member="yes">
															<label>0.00</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT29" variable="StaticText29" member="yes">
															<label>y (rctrl + F9):</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT30" variable="StaticText30" member="yes">
															<label>0.00</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer7" member="no">
											<label>Circle test (rctrl+F10)</label>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
													<cols>2</cols>
													<rows>2</rows>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT36" variable="StaticText36" member="yes">
															<label>radius (rctrl + F10):</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT35" variable="StaticText35" member="yes">
															<label>00000</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT44" variable="StaticText44" member="yes">
															<label>velocity (rctrl + F11):</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT45" variable="StaticText45" member="yes">
															<label>000</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuQuit" variable="MenuItem1" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
